<h1>Editing Product</h1>

<%= render'form'%>
<%= link_to'Show', productinfo_path(@productinfo) %> |
<% @branchinfo = Branchinfo.find(@productinfo.branchinfo_id) %>
<%= link_to'Back', {:controller => "branchinfos", :action => "index",
                    :branchinfo_id => @productinfo.branchinfo_id,
                    :storeinfo_id => Storeinfo.find(@branchinfo.storeinfo_id)} %>