<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Congratulations, <%= @profile.firstname %>!</h1>
<p>
  Your order has been successfully placed and is on your way! Please find below the summary of your order.
  </p>

<p>
  Basket name - <%= @basket.name %>
</p>


<p>
    To make changes to this order, go to the link: <%= @url %>.
</p>
<p>Thanks for placing the order and have a great day!</p>
</body>
</html>