<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Dear, <%= @profile.firstname %>!</h1>
<p>
  Your order <b><%= @basket.name %></b> status has been changed to <b><%= @basket.status %></b>
</p>

<p>Thanks for placing the order and have a great day!</p>
</body>
</html>