<p id="notice"><%= notice %></p>


<p>

    <strong> Hello, </strong> <strong> <%=  @user.firstname %>! </strong>
</p>

<%= link_to 'My Orders', new_user_path %>

<%= link_to 'Back to Home', new_user_path %>

<input type="password"/>
